$color-1: rgb(79, 104, 236);
$color-2: rgb(39, 72, 93);
$color-3: white;
$color-4: rgb(24, 199, 70);
$color-5: #ffdcdc;

$screen-max-width-1: 1580px;
$screen-max-width-2: 1280px;
$screen-max-width-3: 920px;
$screen-max-width-4: 480px;

$screen-max-height-1: 850px;
$screen-max-height-2: 680px;
